{% extends "./base.html" %}
{% load static %}
{% block head %}
  <title>Przychodnia lekarska - lekarz</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'medical_clinic/doctor_page.css' %}">
{% endblock %}

{% block nav %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'medic_visits' %}">Wizyty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'patient_search' %}">Pacjenci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
        </li>
      </ul>
     </div>
    </div>
  </nav>
{% endblock %}