{% extends "./base_reception.html" %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-6">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="PESEL" name="pesel">
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="date" name="date">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </br></br>
    
    <div class="d-flex">
    <ul class="list-group mx-auto justify-content-center">
        <li class="list-group-item mb-3" style="width: 100%;">Lista wizyt</li>
        {% for visit in visits %}
        <li class="list-group-item mb-3" style="width: 100%;">
            <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th style="font-weight: normal;">Imię i nazwisko: {{ visit.patient.first_name }} {{ visit.patient.last_name }}</th>
                    <td>PESEL: {{ visit.patient.pesel }}</td>
                    <td>Lekarz: {{ visit.doctor.first_name }} {{ visit.doctor.last_name }}</td>
                    <td>Date i czas: {{ visit.date_time }}</td>
                    <td><a href="{% url 'reception_visit_edit' visit.pk %}"><button type="button" class="btn btn-primary">Edytuj</button></a></td>
                    <td>
                        <form action="{% url 'reception_visit_delete' visit.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Usuń">
                        </form>
                    </td>
                  </tr>
                </tbody>
            </table>
        </li>
        {% endfor %}
    </ul>
    </div>
    
</div>


{% endblock %}

